# Python-specific files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Data files (if sensitive or unnecessary for the repository)
data/
*.csv
*.xlsx
*.json

# Models and large files
models/
*.h5
*.pt

# Virtual environment
.venv/

# Other temporary or system files
.DS_Store
*.log
.env